/* Base styles for badges */
span.badge {
  display: inline-block;
  font-family: "Open Sans", sans-serif;
  padding: 4px 10px;
  margin: 0 5px 5px 0;
  font-size: 0.85rem;
  border-radius: 3px;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  background-color: #333; /* Default background */
}

/* Specific badge types */
span.badge-version {
  background-color: #3c7dae;
}

span.badge-default {
  background-color: #999;
}

span.badge-none {
  background-color: #f0f0f0;
  color: #333;
  border: 1px solid #ddd;
}

span.badge-insiders {
  background-color: #d9534f;
}
