/* CSS pour badge version */
.badge-version {
  background-color: #007bff;
  color: white;
  padding: 5px 10px;
  border-radius: 20px;
  font-weight: bold;
  display: inline-flex;
  align-items: center;
  font-size: 14px;
}

/* CSS pour badge insiders */
.badge-insiders {
  background-color: #e83e8c;
  color: white;
  padding: 5px 10px;
  border-radius: 20px;
  font-weight: bold;
  display: inline-flex;
  align-items: center;
  font-size: 14px;
}

/* Pour ajouter une icône dans le badge version */
.badge-version:before {
  content: url('https://upload.wikimedia.org/wikipedia/commons/4/42/Markdown_Logo_2015.svg');
  margin-right: 5px;
  height: 16px; /* Ajuste la taille de l'icône si nécessaire */
  width: 16px; /* Ajuste la taille de l'icône si nécessaire */
}

/* Pour ajouter une icône dans le badge insiders */
.badge-insiders:before {
  content: '❤️'; /* Utilisation d'un emoji comme icône */
  margin-right: 5px;
  font-size: 16px; /* Taille de l'icône emoji */
}
